/* 1259px start   */
@media  (max-width: 1259px){
    .email-input input {
        width: 350px;
    }
}
/* 1184px start  */
@media (max-width: 1194px){
    .header-logo {
        margin-bottom: 30px;
    }
    .header-contact{
        justify-content: center;
    }
}
/* 1099px start  */
@media (max-width: 1099px){
    .carousel-content-1 h2 {
        font-size: 30px;
    }
    .carousel-content-1 span {
        font-size: 20px;
    }
    .carousel-content-1 span {
        font-size: 20px;
    }
    .full-button {
        padding: 10px 12px;
        font-size: 14px;
    }
    .email-input input {
        width: 250px;
    }
}
/* 1004px start  */
@media (max-width: 1004px){
    .header-contact li {
        padding: 0 9px;
    }
    .navbar-dark .navbar-toggler {
        position: relative;
        left: 50%;
    }
    .email-input input {
        width: 100%;
    }
    .carousel-item-1 {
        height: 350px;
    }
    .carousel-item-2 {
        height: 350px;
    }
    .carousel-item-3 {
        height: 350px;
    }
    .about-itro h2 {
        font-size: 25px;
    }
    .about-item h4 {
        font-size: 15px;
    }
    .counter-image{
        width: 40px;
        margin: auto;
    }
    .counter-content h3 {
        font-size: 25px;
        margin-top: -17px;
    }
    .counter-content p {
        font-size: 12px;
    }
}
/* 992px start  */
@media (max-width: 992px){
    .f-bottom-right ul li a {
        padding: 0 5px;
    }
}
/* 960px start  */
@media (max-width: 960px){
    .our-value {
        margin-top: 30px;
    }
    .project-item a {
        margin: 10px 0;
    }
    .client{
        margin-top: 30px;
    }
}
/* 788px start  */
@media (max-width: 788px){
    .display-cont{
        display: none;
    }
    .sub-email {
        width: 100%;
    }
    .sub-phone {
        width: 100%;
    }
}
/* 731px start  */
@media (max-width: 731px){
    .f-bottom-left {
        text-align: center;
        margin-bottom: 5px;
    }
    .f-bottom-right ul{
        justify-content: center;
    }
    .sub-phone-content h4 {
        font-size: 14px;
    }
    .sub-phone-content a {
        font-size: 20px;
    }
    .email-content h5{
        font-size: 14px;
    }
    .email-content p{
        font-size: 12px;
    }
}
/* 460px start  */
@media (max-width: 460px){
    .carousel-content-1 h6 {
        font-size: 12px;
    }
    .carousel-content-1 h2 {
        font-size: 25px;
    }
    .border-button {
        padding: 7px 13px;
        font-size: 12px;
    }
    .full-button {
        padding: 7px 12px;
        margin-bottom: 15px;
    }
    .carousel-item-1 {
        height: 350px;
    }
    .carousel-item-2 {
        height: 350px;
    }
    .carousel-item-3 {
        height: 350px;
    }
    .call-to-action-button a {
        padding: 5px 16px;
        font-size: 12px;
    }
    .call-to-action-text h4 {
        font-size: 13px;
    }
}